PORT_VNC_INTERNAL=5903
PORT_VNC_EXTERNAL=5902

PORT_NOVNC_INTERNAL=6083
PORT_NOVNC_EXTERNAL=6082

PORT_HTTP_INTERNAL=8083
PORT_HTTP_EXTERNAL=8082

PORT_STREAMLIT_INTERNAL=8503
PORT_STREAMLIT_EXTERNAL=8502

# Matrix ports
PORT_MATRIX_ELEMENT_INTERNAL=8080
PORT_MATRIX_ELEMENT_EXTERNAL=8080
PORT_MATRIX_SYNAPSE_INTERNAL=8008
PORT_MATRIX_SYNAPSE_EXTERNAL=8008
