PORT_VNC_INTERNAL=5903
PORT_VNC_EXTERNAL=5902

PORT_NOVNC_INTERNAL=6083
PORT_NOVNC_EXTERNAL=6082

PORT_HTTP_INTERNAL=8083
PORT_HTTP_EXTERNAL=8082

# SSH port for terminal access
PORT_SSH_INTERNAL=22
PORT_SSH_EXTERNAL=2222

# inXeption frontend ports (previously used for streamlit)
PORT_STREAMLIT_INTERNAL=8503
PORT_STREAMLIT_EXTERNAL=8502

# Development ports for inXeption
PORT_DEV_STREAMLIT_INTERNAL=8510
PORT_DEV_STREAMLIT_EXTERNAL=8509
